<!-- head para PC -->
{% extends "favoritos/base_favoritos.html" %}
{% load  static %}

{% block content %}

{% include "includes/header.html" %}

<div class="grid-container">
    <div class="grid-x grid-margin-x align-center" style="margin-top: 1em;">
        <!-- bloque de datos de usuario -->
        <div class="cell small-12 large-4">
            <div class="callout">
                <h5>{{ user.full_name }}</h5>
                <p>{{ user.email }}</p>
                <p>{{ user.ocupation}} - {{ user.date_birth }}</p>
                <a href="#">Editar Datos</a>
                <p>
                    <a href="{% url 'users_app:user-logout' %}" class="clear button alert">Salir</a>
                </p>
            </div>
        </div>
        <!-- FIN bloque de datos de usuario -->


        <!-- bloque de articulos favoritos de usuario -->
        <div class="cell large-8 grid-x grid-margin-x align-center">
            {% for entrada in entradas_user %}
                <div class="cell small-12">
                    <div class="card-favoritos">
                        <img class="card-favoritos-img" src="{{ entrada.entry.image.url }}">
                        <div class="card-favoritos-body">
                            <h3 class="card-favoritos-body-titulo">{{ entrada.entry.title}}</h3>
                            <p class="card-favoritos-body-text">{{ entrada.entry.resume }}</p>
                            <div class="card-favoritos-body-actions">
                                <a class="button warning" href="#">Ver</a>
                                <a class="button alert" href="#">Eliminar</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!-- FIN bloque de articulos favoritos de usuario -->
    </div>
</div>
{% include "includes/footer.html" %}

{% endblock content %}