<div class="callout secondary">
    <div class="grid-x align-center">
        <h3 class="cell small-12 large-7">Formulario de Contacto:</h3>
        <form class="cell small-12 large-7">
            <div class="grid-x grid-padding-x">
                <div class="medium-6 cell">
                  <label>Nombres
                    <input type="text" placeholder="nombres...">
                  </label>
                </div>
                <div class="medium-6 cell">
                  <label>Correo
                    <input type="text" placeholder="Correo ...">
                  </label>
                </div>
                <div class="medium-12 cell">
                    <label>Mensaje
                        <textarea placeholder="Mensaje"></textarea>
                    </label>
                </div>
                <div class="medium-12 cell">
                    <button type="button" class="success button">Enviar</button>
                </div>
            </div>
        </form>
    </div>
</div>