<!-- head para PC -->
{% extends "plantillas/base_plantilla.html" %}
{% load  static %}

{% block content %}

{% include "includes/header.html" %}

<div class="grid-container">
    <div class="grid-x grid-margin-x" style="margin-top: 1em;">
        <!-- primer bloque pantalla blog -->
        <div class="cell small-12 large-8">

            <!-- bloque de buscador -->
            <form class="input-group">
                <input class="input-group-field" type="text" placeholder="Buscar ...">
                <div class="input-group-button">
                  <input type="submit" class="button" value="Buscar">
                </div>
            </form>
            <!-- FIN bloque de formulario -->

            <!-- inicio bloque de resultados de busqueda -->
            <div class="grid-x grid-margin-x">
                <div class="cell small-6 large-4">
                    <div class="card" style="width: 100%;">
                        <img src="https://neunapp.com/media/blog/1.png">
                        <div class="card-section">
                          <h4>This is a card.</h4>
                          <p>It has an easy to override visual style, and is appropriately subdued.</p>
                        </div>
                    </div>
                </div>
                <div class="cell small-6 large-4">
                    <div class="card" style="width: 100%;">
                        <img src="https://neunapp.com/media/blog/1.png">
                        <div class="card-section">
                          <h4>This is a card.</h4>
                          <p>It has an easy to override visual style, and is appropriately subdued.</p>
                        </div>
                    </div>
                </div>
                <div class="cell small-6 large-4">
                    <div class="card" style="width: 100%;">
                        <img src="https://neunapp.com/media/blog/1.png">
                        <div class="card-section">
                          <h4>This is a card.</h4>
                          <p>It has an easy to override visual style, and is appropriately subdued.</p>
                        </div>
                    </div>
                </div>
                <div class="cell small-6 large-4">
                    <div class="card" style="width: 100%;">
                        <img src="https://neunapp.com/media/blog/1.png">
                        <div class="card-section">
                          <h4>This is a card.</h4>
                          <p>It has an easy to override visual style, and is appropriately subdued.</p>
                        </div>
                    </div>
                </div>
                <div class="cell small-6 large-4">
                    <div class="card" style="width: 100%;">
                        <img src="https://neunapp.com/media/blog/1.png">
                        <div class="card-section">
                          <h4>This is a card.</h4>
                          <p>It has an easy to override visual style, and is appropriately subdued.</p>
                        </div>
                    </div>
                </div>
                <div class="cell small-6 large-4">
                    <div class="card" style="width: 100%;">
                        <img src="https://neunapp.com/media/blog/1.png">
                        <div class="card-section">
                          <h4>This is a card.</h4>
                          <p>It has an easy to override visual style, and is appropriately subdued.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FIN bloque de resultados de busqueda -->

        </div>
        <!-- FIN primer bloque pantalla blog -->


        <!-- inicio del segundo bloque - categorias -->
        <div class="cell small-12 large-4" style="height: 500px;">
            <h4>Categorias</h4>
            <ul class="vertical menu">
                <li><a href="#">One</a></li>
                <li><a href="#">Two</a></li>
                <li><a href="#">Three</a></li>
                <li><a href="#">Four</a></li>
            </ul>
        </div>
        <!-- FIN inicio del segundo bloque - categorias -->
    
    </div>

    <!-- inicio de bloque de paginacion -->
    <nav aria-label="Pagination">
        <ul class="pagination">
          <li class="pagination-previous disabled">Previous <span class="show-for-sr">page</span></li>
          <li class="current"><span class="show-for-sr">You're on page</span> 1</li>
          <li><a href="#" aria-label="Page 2">2</a></li>
          <li><a href="#" aria-label="Page 3">3</a></li>
          <li><a href="#" aria-label="Page 4">4</a></li>
          <li class="ellipsis" aria-hidden="true"></li>
          <li><a href="#" aria-label="Page 12">12</a></li>
          <li><a href="#" aria-label="Page 13">13</a></li>
          <li class="pagination-next"><a href="#" aria-label="Next page">Next <span class="show-for-sr">page</span></a></li>
        </ul>
    </nav>
    <!-- FIN bloque de paginacion -->
</div>
{% include "includes/footer.html" %}

{% endblock content %}