<!-- head para PC -->
{% extends "plantillas/base_plantilla.html" %}
{% load  static %}

{% block content %}

{% include "includes/header.html" %}

<div class="grid-container">
    <div class="grid-x grid-margin-x" style="margin-top: 1em;">
        <h3 class="cell">Aqui va el titulo del articulo</h3>

        <!-- bloque de contenido del articulo -->
        <div class="cell large-8">
            <div class="cell callout primary">
                <h5>Resumen:</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores similique at accusamus velit eveniet et perspiciatis, dolorem tenetur voluptate ipsam nesciunt placeat quaerat eius, veritatis officia minima vitae, porro sit.</p>
            </div>
            <div>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam tempore odio fuga ex distinctio dolore nihil explicabo voluptatibus animi, maiores accusantium, quo illo, voluptates neque. Fugiat, nulla officiis. Laborum, obcaecati!</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam tempore odio fuga ex distinctio dolore nihil explicabo voluptatibus animi, maiores accusantium, quo illo, voluptates neque. Fugiat, nulla officiis. Laborum, obcaecati!</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam tempore odio fuga ex distinctio dolore nihil explicabo voluptatibus animi, maiores accusantium, quo illo, voluptates neque. Fugiat, nulla officiis. Laborum, obcaecati!</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam tempore odio fuga ex distinctio dolore nihil explicabo voluptatibus animi, maiores accusantium, quo illo, voluptates neque. Fugiat, nulla officiis. Laborum, obcaecati!</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam tempore odio fuga ex distinctio dolore nihil explicabo voluptatibus animi, maiores accusantium, quo illo, voluptates neque. Fugiat, nulla officiis. Laborum, obcaecati!</p>
            </div>
        </div>
        <!-- FIN bloque contenido del articulo -->

        <!-- bloque llamada a la accion -->
        <div class="cell large-4">
            <div class="card" style="width: 100%;">
                <img src="https://neunapp.com/media/blog/header16.jpg">
                <div class="card-section" style="width: 100%;">
                  <div class="blog-action">
                    <a class="button alert" href="#">Agregar a Favoritos</a>
                  </div>
                </div>
            </div>
        </div>
        <!-- FIN bloque llamada a la accion -->

    </div>
</div>
{% include "includes/footer.html" %}

{% endblock content %}