<!-- head para PC -->
{% extends "plantillas/base_plantilla.html" %}
{% load  static %}

{% block content %}

{% include "includes/header.html" %}

<div class="grid-container">
    <div class="grid-x grid-margin-x align-center" style="margin-top: 1em;">
        <!-- bloque de datos de usuario -->
        <div class="cell small-12 large-4">
            <div class="callout">
                <h5>Cristhian Santa Cruz</h5>
                <p>neunapp.servicios@gmail.com - Programador - 20-18-1991</p>
                <a href="#">Editar Datos</a>
            </div>
        </div>
        <!-- FIN bloque de datos de usuario -->


        <!-- bloque de articulos favoritos de usuario -->
        <div class="cell large-8 grid-x grid-margin-x align-center">
            <div class="cell small-12">
                <div class="card-favoritos">
                    <img class="card-favoritos-img" src="https://neunapp.com/media/blog/header16.jpg">
                    <div class="card-favoritos-body">
                        <h3 class="card-favoritos-body-titulo">Titulo del articulo</h3>
                        <p class="card-favoritos-body-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident sit nemo tenetur eos inventore illo, itaque praesentium consequuntur, distinctio veritatis optio quos ad porro pariatur recusandae odit similique? Saepe, ipsum!</p>
                        <div class="card-favoritos-body-actions">
                            <a class="button warning" href="#">Ver</a>
                            <a class="button alert" href="#">Eliminar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell small-12">
                <div class="card-favoritos">
                    <img class="card-favoritos-img" src="https://neunapp.com/media/blog/header16.jpg">
                    <div class="card-favoritos-body">
                        <h3 class="card-favoritos-body-titulo">Titulo del articulo</h3>
                        <p class="card-favoritos-body-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident sit nemo tenetur eos inventore illo, itaque praesentium consequuntur, distinctio veritatis optio quos ad porro pariatur recusandae odit similique? Saepe, ipsum!</p>
                        <div class="card-favoritos-body-actions">
                            <a class="button warning" href="#">Ver</a>
                            <a class="button alert" href="#">Eliminar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell small-12">
                <div class="card-favoritos">
                    <img class="card-favoritos-img" src="https://neunapp.com/media/blog/header16.jpg">
                    <div class="card-favoritos-body">
                        <h3 class="card-favoritos-body-titulo">Titulo del articulo</h3>
                        <p class="card-favoritos-body-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident sit nemo tenetur eos inventore illo, itaque praesentium consequuntur, distinctio veritatis optio quos ad porro pariatur recusandae odit similique? Saepe, ipsum!</p>
                        <div class="card-favoritos-body-actions">
                            <a class="button warning" href="#">Ver</a>
                            <a class="button alert" href="#">Eliminar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell small-12">
                <div class="card-favoritos">
                    <img class="card-favoritos-img" src="https://neunapp.com/media/blog/header16.jpg">
                    <div class="card-favoritos-body">
                        <h3 class="card-favoritos-body-titulo">Titulo del articulo</h3>
                        <p class="card-favoritos-body-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident sit nemo tenetur eos inventore illo, itaque praesentium consequuntur, distinctio veritatis optio quos ad porro pariatur recusandae odit similique? Saepe, ipsum!</p>
                        <div class="card-favoritos-body-actions">
                            <a class="button warning" href="#">Ver</a>
                            <a class="button alert" href="#">Eliminar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell small-12">
                <div class="card-favoritos">
                    <img class="card-favoritos-img" src="https://neunapp.com/media/blog/header16.jpg">
                    <div class="card-favoritos-body">
                        <h3 class="card-favoritos-body-titulo">Titulo del articulo</h3>
                        <p class="card-favoritos-body-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident sit nemo tenetur eos inventore illo, itaque praesentium consequuntur, distinctio veritatis optio quos ad porro pariatur recusandae odit similique? Saepe, ipsum!</p>
                        <div class="card-favoritos-body-actions">
                            <a class="button warning" href="#">Ver</a>
                            <a class="button alert" href="#">Eliminar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- FIN bloque de articulos favoritos de usuario -->
    </div>
</div>
{% include "includes/footer.html" %}

{% endblock content %}