{% load static %}
<!DOCTYPE html>
<html lang="es-MX">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
  <title>{% block title %}{% endblock title %}</title>
  {% block description %}{% endblock description %}
  {% block tags %}{% endblock tags %}
  {% block css %}{% endblock css %}
</head>
<body>

  {% block content %}
  {% endblock content %}

  {% block js %}{% endblock js %}

  <script src="{% static 'js/app.js' %}"></script>
</body>
</html>